<p>Matt Fox: Writer of Articles. Creator of things. Gardener of food. Podcaster of audio.</p>
<table>
  <tr>
    <td>
      "The Joker" and "microphone" watercolor paintings. <%= image_tag("Joker.jpg",  size: "180x240") %>
        <%= image_tag("microphone.jpg",  size: "180x240") %>
    </td>
  </tr>
</table>
